.SearchWidget {
    background-color: white;
    padding:1rem;
    color: var(--bright-green);
    margin-top:2rem;
    align-self: flex-start;
    flex:1;
}

.TitleSearch,
.YearSearch {
    position: relative;
    border-bottom: 1px solid var(--bright-green);
    display:flex;
}

.TitleSearch {
    margin-bottom:1rem;
}

.TitleButton,
.YearButton {
    border:none;
    width:2rem;
    height: 2rem;
    outline: none;
    cursor: pointer;
}

.TitleButton {
    background: url('../../../assets/images/search-icon-yellow.png') center center no-repeat;
}

.SearchInput {
    border:none;
    height: 2rem;
    outline:none;
    font-size:1.2rem;
    margin:0 0 .5rem .5rem;
    font-weight: bold;
    color: var(--bright-green);
}

.SearchInput::placeholder {
    color: var(--bright-green);
    font-weight: 100;
}

.YearButton {
    background: url('../../../assets/images/year-icon.png') center center no-repeat;
}